 /* zotero-yellow */
 .callout[data-callout="zotero-yellow"] {
   --callout-color: 255, 212, 0;
   --callout-icon: quote-glyph;
 }

 /* zotero-red */
 .callout[data-callout="zotero-red"] {
   --callout-color: 255, 102, 102;
   --callout-icon: quote-glyph;
 }

 /* zotero-green */
 .callout[data-callout="zotero-green"] {
   --callout-color: 95, 178, 54;
   --callout-icon: quote-glyph;
 }

 /* zotero-blue */
 .callout[data-callout="zotero-blue"] {
   --callout-color: 46, 168, 229;
   --callout-icon: quote-glyph;
 }

 /* zotero-purple */
 .callout[data-callout="zotero-purple"] {
   --callout-color: 162, 138, 229;
   --callout-icon: quote-glyph;
 }

 /* zotero-magenta */
 .callout[data-callout="zotero-magenta"] {
   --callout-color: 229, 110, 238;
   --callout-icon: quote-glyph;
 }

 /* zotero-orange */
 .callout[data-callout="zotero-orange"] {
   --callout-color: 241, 152, 55;
   --callout-icon: quote-glyph;
 }

 /* zotero-gray */
 .callout[data-callout="zotero-gray"] {
   --callout-color: 170, 170, 170;
   --callout-icon: quote-glyph;
 }
